:root {
  --border: 1px solid lightgrey;
  --bglight: rgb(248, 248, 248);
  --bgdark: rgb(19, 19, 246);
  --radius: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh; 
}

main {
  width: 800px;
  margin: 30px auto;
}

hr, p {
  margin-bottom: 10px;
}

.card {
  border: var(--border);
  padding: 20px 50px;  
  background-color: var(--bglight);
  border-radius: var(--radius);
  margin: 12px 0;
}

a {
  text-decoration: none;
}

a.enlace {
  text-decoration: none;
  color: rgb(93, 90, 90);
  border: solid 1px lightgray;
  background-color: var(--bglight);
  margin: 2px;
  padding: 8px 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: right;
}

a.enlace:hover {
  color: var(--bglight);
  background-color: var(--bgdark);
  box-shadow: 0px 0px 4px gray;
}

a.enlace img {
  margin-right: 10px;
  vertical-align: middle;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: darkblue ;
  color: white;
}

nav a.item-selected {
  background-color: black;
  color: white;
}

nav, footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f8ff;;
  color: darkblue;
  padding: 5px 10px;
}

nav div {
  display: flex;
  gap: 20px;
}

section {
  padding: 20px;
}

section.not-found img {
  aspect-ratio: 1;
  width: 30vw;
  display: block;
  margin: 0 auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: var(--border);
  border-radius: var(--radius);
  background-color: var(--bglight);
}

legend {
  font-weight: 700;
}

input, button {
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px lightgray;
  font-size: inherit;
}

input[type=checkbox] {
  margin-right: 8px;
}

button:hover {
  background-color: var(--bgdark);
  color: var(--bglight);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


@media (width <= 800px)  {
  main {
    width: 100%;
    margin: 20px 0;
  }
}